@import "vendor/normalize";
@import "mixins";
@import "components/harp-bourbon/scss/bourbon";
@import "vendor/bitters/bitters";
@import "vendor/ionicons";
@import "components/harp-neat/scss/neat";



@import "partials/gist";
@import "partials/header";
@import "partials/footer";
@import "partials/contact_form";

.wrapper {
  margin: 0 40px
}


.btn {
  @include button(#38dabb);
  line-height: 1em;
}
a.btn:hover {
  color: white;
}

#big-panel {
  margin: 40px auto;
  text-align: center;

  h1 {
    font-size: 80px;
    font-weight: 900;
  }

  h5 {
    color: $medium-gray;
  }

  .btn {
    margin-top: 30px;
  }
}

.page-title {
  font-size: 30px;
  font-weight: 200;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

