@import "vendor/normalize";
@import "mixins";
@import "components/harp-bourbon/scss/bourbon";
@import "vendor/bitters/bitters";
@import "components/harp-neat/scss/neat";



@import "partials/gist";
@import "partials/header";


.wrapper {
  margin: 0 40px
}


.btn {
  @include button(#38dabb);
  line-height: 1em;
  font-weight: bold;
}
a.btn:hover {
  color: white;
}

#big-panel {
  margin: 40px auto;
  text-align: center;

  h1 {
    line-height: 0.9;
    font-size: 80px;
    font-weight: 900;
  }

  h2 {

  }

  h5 {
    color: $medium-gray;
  }
}
