!!!
html
  head
    script(type="text/javascript", src="//use.typekit.net/xzf1kdh.js")
    script.
      try{Typekit.load();}catch(e){}
    link(rel="stylesheet", href="/normalize.css")
    link(rel="stylesheet", href="/css/ionicons.min.css")
    link(rel="stylesheet", href="/style.css")
  body
    != yield
