!!!
html(class="#{ current.source }-body")
  head
    script(type="text/javascript", src="//use.typekit.net/xzf1kdh.js")
    script.
      try{Typekit.load();}catch(e){}
    link(rel="stylesheet", href="/css/main.css")
    link(rel="shortcut icon", href="/favicon.ico?v=1")
  body(ng-app='gee')
    .content-wrapper
      != yield
      .content-push
    footer
      a(href='mailto:support@gee.io') Need help?
