!!!
html(class="#{ current.source }-body")
  head
    script(type="text/javascript", src="//use.typekit.net/xzf1kdh.js")
    script.
      try{Typekit.load();}catch(e){}
    link(rel="stylesheet", href="//code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="shortcut icon", href="/favicon.ico?v=1")
  body
    .content-wrapper
      != yield
      .content-push
    footer
      a(href='mailto:support@gee.io') Need help?

    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js")
