!!!
html
  head
    script(type="text/javascript", src="//use.typekit.net/xzf1kdh.js")
    script.
      try{Typekit.load();}catch(e){}
    link(rel="stylesheet", href="//c.gee.io/components/driftyco-ionicons/css/ionicons.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="shortcut icon", sizes="16x16 32x32 48x48 64x64", href="/favicon.ico")
    link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
  body
    != yield
