h3.page-title Hire gee.io
.contact
  form
    .input
      i.ion-person
      input(type='text', required, placeholder='What is your name?')

    .input
      i.ion-email
      input(type='email', required, placeholder='What is your email address?')

    .input
      i.ion-ios7-telephone
      input(type='tel', required, placeholder='What is your phone number?')

    .input
      i.ion-help
      textarea(required, placeholder='What do you want to hire me for?')

    .input
      i.ion-pricetag
      input(type='text', required, placeholder='What is your budget?')
