!= partial("_shared/header")
.wrapper
  section#big-panel
    h1.logo-font Welcome
    h5 I'm a fullstack web developer who wants to help make your idea a reality.
    h4: a.btn(href='/hire') Hire Me
  hr.div
  section
    h2 We Make
    ul
      li Robust realtime APIs with Node.js or Go
      li Custom ecommerce integrations.
      li Ruby on Rails Applications
      li Responsive user applications
      li Single page apps with Angular.js or Backbone.js
      li Native or HTML5 iOS apps.
