nav
  a(href='/').logo g
  ul
    li
      a(href='#').btn Hire Me
    li
      a(href='#').ion-social-linkedin.icon
    li
      a(href='https://github.com/GeorgeErickson').ion-social-github.icon
section
  h1 Fullstack developer for hire to help make your idea a reality.
section
  h2 We Make
  p Robust realtime APIs with Node.js or Go
  p Custom ecommerce integrations.
  p Ruby on Rails Applications
  p Responsive user applications
  p Single page apps with Angular.js or Backbone.js
  p Native or HTML5 iOS apps.
