.contact {
  width: 95%;
  max-width: 600px;
  margin: auto;
  form {
    margin-left: 25px;
  }


}



.hire-body {
  $bk-color: $base-accent-color;
  .home-letter {
    color: white;
  }

  background-color: $bk-color;
  h1, h2, h3, h4, i { color: white; }


  $bk-color-form: darken($bk-color, 8);
  $bk-color-form-border: darken($bk-color-form, 5);

  textarea,
  #{$all-text-inputs} {
    background-color: $bk-color-form;
    color: white;
    border-color: $bk-color-form-border;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.03);


    &:hover {
      border-color: $bk-color-form-border;
      box-shadow: inset 0 1px 9px rgba(0,0,0,0.1);
    }

    &:focus {
      background-color: darken($bk-color-form, 5);
      border-color: $bk-color-form-border;
      box-shadow: inset 0 1px 9px rgba(0,0,0,0.1);
      outline: none;
    }

    @include placeholder {
      color: white;
    }
  }

  button, input[type=submit] {
    float: right;
    padding: ($base-line-height / 2) 40px;
    outline: 0;

  }

  footer > a, .error-block {
    color: white;
  }

}

.input {
  position: relative;
  > i {
    font-size: 1.5em;
    position: absolute;
    left: -25px;
    top: .4em;
  }

  .error-block {
    display: none;
  }
}

@mixin arrow($direction, $color, $size) {
  $transparent: $size solid transparent;
  $sizeborder: $size solid $color;
  display: block;
  height: 0;
  width: 0;
  @if $direction == "top" {
    border: {
      left: $transparent;
      right: $transparent;
      bottom: $sizeborder;
    };
  }
  @else if $direction == "right" {
    border: {
      top: $transparent;
      bottom: $transparent;
      left: $sizeborder;
    };
  }
  @else if $direction == "bottom" {
    border: {
      top: $sizeborder;
      right: $transparent;
      left: $transparent;
    };
  }
  @else if $direction == "left" {
    border: {
      top: $transparent;
      right: $sizeborder;
      bottom: $transparent;
    };
  }
  @else if $direction == "top-right" {
    border: {
      top: $sizeborder;
      right: $transparent;
    };
  }
  @else if $direction == "top-left" {
    border: {
      top: $sizeborder;
      left: $transparent;
    };
  }
  @else if $direction == "bottom-right" {
    border: {
      bottom: $sizeborder;
      right: $transparent;
    };
  }
  @else if $direction == "bottom-left" {
    border: {
      bottom: $sizeborder;
      left: $transparent;
    };
  }
}


.input.error {
  textarea, #{$all-text-inputs} {
    margin-bottom: 8px;
  }
  .error-block {
    position: relative;
    right: 0;
    display: inline-block;
    border-radius: 3px;
    box-shadow:1px 1px 10px 0 #ccc;
    background:#fff;
    color: $base-font-color;
    margin-bottom: $base-line-height / 2;
    padding: $base-line-height / 5;
    span {
      vertical-align: middle;
    }

    i {
      -webkit-font-smoothing: antialiased;
      color: $light-red;
      margin-right: 4px;
      font-size: 22px;
      vertical-align: middle;
    }
  }
  .arrow {
    position: absolute;
    content: '';
    top: -14px;
    @include triangle(15px, white, up);
  }
}
