$footer-height: 30px;

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-1 * $footer-height); /* the bottom margin is the negative value of the footer's height */
}

body > footer, .content-push {
  height: $footer-height; /* '.push' must be the same height as 'footer' */
}


body > footer {
  text-align: center;
}
