.gist {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
  width: 100%;
  table {
    margin: 0;
    width: inherit;
    line-height: normal;
    td {
      border-bottom: 0;
    }
  }
}

.gist-meta {
  font-family: $base-font-family !important;
  font-size: 13px !important;
  a {
    color: $dark-gray !important;
    text-decoration: none;
    &:hover {
      color: $hover-link-color !important;
    }
  }
}
