header.page-header
  a(href='/').logo g
  ul
    li
      a(href='/hire').btn Hire Me
    li
      a(href='http://www.linkedin.com/pub/george-erickson/27/b97/813').ion-social-linkedin.icon
    li
      a(href='https://github.com/GeorgeErickson').ion-social-github.icon
