header.page-header
  a(href='/').logo g
  ul
    li
      a(href='/hire').btn Hire Me
    li
      a(href='#').ion-social-linkedin.icon
    li
      a(href='https://github.com/GeorgeErickson').ion-social-github.icon
